/*
    BRAND
    Primary: #00bcd4 (cyan 500)
    Secondary: #ff3d00 (deep orange A400)
*/


/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    resize: none;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}



/**** CUSTOM ****/
#site-nav {
    display: flex;
    flex-direction: column;
}

.sidenav .collapsible-header {
    padding: 0 32px;
}

.sidenav .collapsible-body li a {
    font-weight: 400;
    padding: 0 48px;
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

nav {
    height: 5em;
    line-height: 5em;
}

.nav-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brand {
    text-align: center;
    margin-top: 0;
}

.logo-wrapper {
    text-align: center;
}

.logo {
    display: inline-block;
}

.mt-auto {
    margin-top: auto;
}

.sidenav-trigger {
    color: black;
    margin-left: 1em;
    z-index: 1;
    width: 24px;
}


/**** TYPOGRAPHY ****/
.brand-logo {
    /*font-size: 2.5em !important;*/
    color: #00bcd4 !important;
}

.header, #title, .brand {
    color: #00bcd4;
}

.bold {
    font-weight: bold;
}



/**** CARD ****/
.location {
    padding-top: 2em;
}

ul.card-list li {
    padding: .5em 0;
}



/**** COLLAPSIBLE ****/
.sidenav .collapsible-body > ul:not(.collapsible) > li.active, .sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active {
    background-color: #008ba3;
}



/**** WAVES ****/
.waves-effect.waves-accent .waves-ripple {
    background-color: rgba(255,61,0,.65);
}

.accent {
    background-color: #ff3d00 !important;
}

.accent-text {
    color: #ff3d00 !important;
}



/**** FORM ****/
.dropdown-content li > span {
    color: #ff3d00;
}