@using Friendly.DATA.EF
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home";
    FriendlyEntities db = new FriendlyEntities();
}


<section>
    <article>
        <h2 class="header">Welcome!</h2>
        <p class="flow-text">
            Hello, @(User.Identity.IsAuthenticated ? db.UserDetails.Find(User.Identity.GetUserId()).FirstName : "reader"). Welcome to Friendly!<br />
            Friendly is an ASP.NET MVC application that satisfies all of your friendship management needs. Whether you're looking for a new friend or wanting to join that clique you've had your eye on, you can do that here.
        </p>
    </article>
</section>